<h1><%= @task.name %></h1>
<p>Status : <%= @task.status %></p>
<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_task_path(@task) %>
<%= link_to "Delete", task_path(@task), method: 'DELETE' %>

